<div id="ingredient-select" class="ingredient-select">
  <div class="search-header">
    <span class="close-button"><span class="close-icon">×</span></span>
    <input type="text" id="ingredientSearchInput" class="SearchInput" placeholder="食材名を検索" />
  </div>
  <p class="search-results-title">検索結果</p>
  <div id="searchResultsContainer" class="searchContainer"></div>
  <p class="drop-down-title">食材一覧</p>
  <div class="scrollable-section">
    <% materials_by_category.each_with_index do |(category, materials), index| %>
      <div class="ingredient-category">
        <p id="categoryElement-<%= index %>" class="categoryElement"><%= category %></p>

        <ul id="ingredients-list-<%= index %>" style="display: none;">
          <% materials.each do |material| %>
            <% if material.material_name %>
              <li data-value="<%= material.id %>" data-hiragana="<%= material.hiragana %>" data-material-name="<%= material.material_name %>">
                <%= material.material_name %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>