<div class="confirm-container">
  <div class="confirm-form-container">
    <%= form_with model: [current_user, @menu], local: true do |f| %>
      <div class="menu-confirm-container">
        <div class="menu-confirm-title">
          <h1>登録内容の最終確認</h1>
        </div>

        <div class ="contents-title">
          <p>　献立名　</p>
        </div>
        <div class ="menu-contents">
          <%= @menu.menu_name %>
          <%= f.hidden_field :menu_name, value: @menu.menu_name %>
        </div>

        <div class ="contents-title">
          <p>　献立内容　</p>
        </div>
        <div class ="menu-contents">
          <%= @menu.menu_contents %>
          <%= f.hidden_field :menu_contents, value: @menu.menu_contents %>
        </div>

        <div class ="contents-title">
          <p>　作り方　</p>
        </div>
        <div class ="menu-contents">
          <%= simple_format(sanitize(@menu.contents)) %>
          <%= f.hidden_field :contents, value: @menu.contents %>
        </div>

        <div class ="contents-title">
          <p>　献立画像　</p>
        </div>
        <div class ="menu-contents">
          <% if @image_data_url.present? %>
            <img src="<%= @image_data_url %>" width="300" height="200" alt="uploaded image preview" />
            <%= f.hidden_field :encoded_image, value: @encoded_image %>
            <%= f.hidden_field :image_content_type, value: @menu.image.content_type %>
          <% else %>
            <p>画像なし</p>
          <% end %>
        </div>

      </div>

      <div class="ingredient-confirm-container">
        <div class ="contents-title">
          <p>　食材リスト　</p>
        </div>

        <div class="ingredients-list">
          <% if @aggregated_ingredients.present? %>
            <% @aggregated_ingredients.each do |aggregated_ingredient| %>
              <div class="ingredient-item">
                <p class="material-name"><%= aggregated_ingredient.material.material_name %></p>
                <div class="quantity-unit">
                  <p class="quantity"><%= aggregated_ingredient.quantity %></p>
                  <p class="unit"><%= aggregated_ingredient.unit.unit_name %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="no-ingredients">食材はありません</p>
          <% end %>

          <% @menu.ingredients.each_with_index do |ingredient, index| %>
            <%= f.hidden_field "ingredients[#{index}][material_name]", value: ingredient.material_name %>
            <%= f.hidden_field "ingredients[#{index}][material_id]", value: ingredient.material.id %>
            <%= f.hidden_field "ingredients[#{index}][quantity]", value: ingredient.quantity %>
            <%= f.hidden_field "ingredients[#{index}][unit_id]", value: ingredient.unit.id %>
          <% end %>
        </div>
      </div>


      <div class="button-confirm-container">
        <div class="menu-registration-button">
          <%= f.submit "登録", name: "commit" %>
        </div>
      </div>
    <% end %>

    <div class="button-confirm-container">
      <div class="menu-edit-button">
        <%= form_with model: @menu, url: new_user_menu_path(current_user), method: :post, local: true do |f| %>
          <%= f.hidden_field :menu_name, value: @menu.menu_name %>
          <%= f.hidden_field :menu_contents, value: @menu.menu_contents %>
          <%= f.hidden_field :contents, value: @menu.contents %>
          <%= f.hidden_field :encoded_image, value: @encoded_image %>
          <%= f.hidden_field :filename, value: @menu.image.filename.to_s %>
          <%= f.hidden_field :image_content_type, value: @menu.image.content_type %>

          <% @menu.ingredients.each_with_index do |ingredient, index| %>
            <%= f.hidden_field "ingredients_attributes[#{index}][material_name]", value: ingredient.material_name %>
            <%= f.hidden_field "ingredients_attributes[#{index}][material_id]", value: ingredient.material.id %>
            <%= f.hidden_field "ingredients_attributes[#{index}][quantity]", value: ingredient.quantity %>
            <%= f.hidden_field "ingredients_attributes[#{index}][unit_id]", value: ingredient.unit.id %>
          <% end %>

          <%= f.submit "編集", class: "edit-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
