<%= render 'shared/menu' %>

<div class="menus-container">
  <h3 class="original-menu-heading">オリジナル献立</h3>

  <div class="menus_list">
    <%= button_to "オリジナル献立作成", new_user_menu_path(current_user.id), class: "original-menu-button", method: :get %>

    <%= turbo_frame_tag 'original_menus_frame' do %>
      <div class="original_menus_list">
        <% @original_menus.each do |menu| %>
          <%= link_to user_menu_path(current_user, menu), class: "menu-item-link", data: { turbo: false } do %>
            <div class="menu-item">
              <%= image_tag(rails_blob_path(menu.image.variant(resize_to_fill: [220, 190])), class: "rounded-image") %>
              <div class="menu-item-title"><%= menu.menu_name %></div>
            </div>
          <% end %>
        <% end %>
      </div>

      <%= render 'shared/pagination', total_menus_count: @total_menus_count, items_per_page: @settings.dig('pagination', 'items_per_page'),
      first_page: @settings.dig('pagination', 'first_page'), pagination_path: ->(page) { user_custom_menus_path(page: page) } %>

    <% end %>
  </div>

  <%= button_to "戻る", root_path, class: "back-button", method: :get %>
</div>
