<%= render 'shared/menu' %>
<%= render 'shared/back_button' %>

<div class="menus-container">
  <h3 class="original-menu-heading">オリジナル献立</h3>

  <div class="menus_list">
    <%= button_to "オリジナル献立作成", new_user_menu_path(current_user.id), class: "original-menu-button", method: :get %>

    <%= turbo_frame_tag 'original_menus_frame' do %>
      <%= render 'menu_list', menu_list: @original_menus, serving_size: @settings.dig('limits', 'min_serving_size') %>

      <%= render 'shared/pagination', total_menus_count: @total_menus_count, items_per_page: @settings.dig('pagination', 'items_per_page'),
      first_page: @settings.dig('pagination', 'first_page'), pagination_path: ->(page) { user_custom_menus_path(page: page) } %>

    <% end %>
  </div>

  <%= button_to "戻る", root_path, class: "back-button", method: :get %>
</div>