<div class = "menu-container">
  <div class="menu-form-container" data-user-id="<%= current_user.id %>">

    <div class="menu-form-title">
      <h1>献立修正</h1>
    </div>

    <div class ="contents-title">
      <p>１.献立情報入力</p>
    </div>

    <div id="main-menu-error" class="menu-error-message"></div>

    <div class="menu-form-input">
      <%= form_with model: @menu, url: confirm_user_menu_path(current_user), method: :post, id: "menu_form" do |f| %>
        <%= f.hidden_field :menu_id, value: @menu.id %>

        <%= render 'form_fields', f: f %>

        <% image_preview_url = params.dig(:menu, :image_data_url) || url_for(@menu.image) if @menu.image.attached? %>
        <%= render 'image_preview', image_data_url: image_preview_url %>

        <% if image_preview_url.present? %>
          <%= f.hidden_field :encoded_image, value: params.dig(:menu, :encoded_image) || Base64.encode64(@menu.image.download) %>
          <%= f.hidden_field :image_content_type, value: params.dig(:menu, :image_content_type) || @menu.image.content_type %>
          <%= f.hidden_field :image_data_url, value: image_preview_url %>
        <% end %>

        <div class ="contents-title">
          <p>２.食材リスト設定</p>
        </div>

        <div id="ingredients-error" class="ingredients-error-message"></div>
        <div id ="ingredients-date", data-ingredients="<%= @menu.ingredients.to_json %>"></div>

        <div class="ingredient-form-input">
          <div class="ingredient-form-field">
            <div id="ingredient-form-add-container">
              <%= f.fields_for :ingredients do |ingredient_form| %>
                <div id="ingredient_form"></div>
                <%= render 'ingredient_selector', materials_by_category: @materials_by_category, menu: @menu %>
              <% end %>
            </div>
          </div>

          <div class="count-up-button">
            <button class="form-count-up" data-action="increment" id="form-count-up"><span id="formCountLimit"></span></button>
          </div>
        </div>

        <div class="menu-form-actions", data-turbo-action="submit">
          <%= f.submit "次へ", id: "next_step_button" %>
        </div>
      <% end %>

      <div class="menu-form-back-button">
        <%= button_to '戻る', user_menu_path(current_user, @menu), method: :get, class: 'back-button', id: 'back_button', form: { data: { turbo_confirm: "変更内容は反映されていません。よろしいでしょうか？" }} %>
      </div>

    </div>
  </div>

  <div id="dropdownBackground" class="dropdown-bg"></div>
</div>

  <%= javascript_include_tag 'addForm' %>
  <%= javascript_include_tag 'ingredient_dropdown' %>
  <%= javascript_include_tag 'menu_validation' %>
  <%= javascript_include_tag 'image_preview' %>