<%= render 'shared/menu' %>
<%= render 'shared/back_button' %>

<div class="menus-container">

  <nav class="menu-list-container">
    <%= link_to "サンプル献立", sample_menus_path, class: "main-menu-list-heading", method: :get %>
    <%= link_to "オリジナル献立", user_custom_menus_path(current_user), class: "menu-list-heading", method: :get %>
  </nav>

  <div class="menus_list">
    <% if @default_menus.any? %>
      <%= turbo_frame_tag 'default_menus_frame' do %>
        <%= render 'menu_list', menu_list: @default_menus, serving_size: @settings.dig('limits', 'min_serving_size') %>

        <%= render 'shared/pagination', total_menus_count: @total_menus_count, items_per_page: @settings.dig('pagination', 'items_per_page'),
        first_page: @settings.dig('pagination', 'first_page'), pagination_path: ->(page) { sample_menus_path(page: page) } %>

      <% end %>
    <% end %>
  </div>

  <%= button_to "戻る", root_path, class: "back-button", method: :get %>
</div>
