
<div class="menu-show-container" id="menu-show-container">
  <div class="menu-detail-container">
    <%= render partial: 'shared/menu_details', locals: { menu: @menu } %>

    <div class="ingredient-show-container">
      <div class ="show-contents-title">
        <p>食材リスト</p>
      </div>

      <%= turbo_frame_tag 'ingredients_list' do %>

        <%= render 'shared/ingredients_list', scaled_ingredients: @scaled_ingredients, change_serving_size_path: ->(change_type) { user_menu_change_serving_size_path(menu_id: @menu.id, serving_size: @serving_size, max_count: @max_serving_size, is_pre_selection: @is_pre_selection, change_type: change_type) } %>

        <div class="select-button-container">
          <%= button_to "#{@serving_size}人前分を選択", cart_items_path(menu_id: @menu.id, serving_size: @serving_size), method: :post, class: 'select-button', data: { turbo: false } %>
        </div>

      <% end %>
    </div>
  </div>

  <div class="menu-button-container">
    <% if UserMenu.exists?(menu_id: @menu.id, user_id: current_user.id) %>
      <%= button_to '編集', edit_user_menu_path(@menu), method: :get, class: 'edit-button', id: 'edit_button' %>
      <%= button_to '削除', user_menu_path(current_user, menu_id: @menu.id), method: :delete, class: 'delete_button', id: 'delete_button', form: { data: { turbo_confirm: "本当に削除してよろしいでしょうか？" }}  %>
      <%= button_to '戻る', user_custom_menus_path(current_user), method: :get, class: 'back-button', id: 'back_button' %>
    <% else %>
      <%= button_to '戻る', sample_menus_path(current_user), method: :get, class: 'back-button', id: 'back_button' %>
    <% end %>
  </div>
</div>