
<div class="menu-show-container">
  <div class="menu-detail-container">
    <%= render partial: 'shared/menu_details', locals: { menu: @menu } %>

    <div class="ingredient-show-container">
      <div class ="show-contents-title">
        <p>食材リスト</p>
      </div>

      <div class="ingredients-show-list">
        <% if @aggregated_ingredients.present? %>
          <% @aggregated_ingredients.each do |ingredient_date| %>
            <div class="ingredient-show-item">
              <p class="material-name"><%= ingredient_date.material.material_name %></p>
              <div class="quantity-unit">
                <p class="quantity"><%= display_quantity(ingredient_date.quantity) %></p>
                <p class="unit"><%= ingredient_date.unit.unit_name %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="no-ingredients">食材はありません</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="menu-button-container">
    <%= form_with url: cart_items_path, method: :post do |form| %>
      <%= form.hidden_field :menu_id, value: @menu.id %>

      <div class="item-selection-container">
        <div class="quantity-selector">
          <%= form.number_field :item_count, value: 1, min: 1, class: 'quantity-input', 'aria-label': "Item count" %>
        </div>

        <%= form.submit '選択', class: 'select-button', id: 'select_button' %>
      </div>
    <% end %>

    <% if UserMenu.exists?(menu_id: @menu.id, user_id: current_user.id) %>
      <%= button_to '編集', edit_user_menu_path(@menu), method: :get, class: 'edit-button', id: 'edit_button' %>
      <%= button_to '戻る', user_custom_menus_path(current_user), method: :get, class: 'back-button', id: 'back_button' %>
    <% else %>
      <%= button_to '戻る', sample_menus_path(current_user), method: :get, class: 'back-button', id: 'back_button' %>
    <% end %>
  </div>
</div>