<div class="new-session-container" id="login-validation-area">

  <div class="session-title">
    <h1>ログイン</h1>
  </div>

  <div class="session-instructions">
    <p>※未入力があるとログインができません。</p>
  </div>

  <div class="session-input">
    <%= form_with url: user_custom_session_path, local: true, data: { turbo: false } do |f| %>
      <div class="session-field">
        <div class="error-message"></div>
        <%= f.email_field :email, autofocus: false, autocomplete: "email", name: 'user[email]', placeholder: "メールアドレス" %>
      </div>
      <div class="session-field">
        <div class="error-message"></div>
        <%= f.password_field :password, autofocus: false, autocomplete: "new-password", name: 'user[password]', placeholder: "パスワード（8~128文字、英数記号含む）" %>
      </div>
      <div class="session-actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>

  <div class="session-link">
	  <%= link_to '新規登録の方はこちら', new_user_custom_registration_path %>
    <%= link_to 'パスワードを忘れた方はこちら', request_reset_password_path %>
  </div>
</div>