<div class="menu-bar">
  <div class="menu-bar-left">
    <span class="menu-bar-app-name">Autonomy</span>
    <span class="menu-bar-subtitle">~自炊で毎日の健康管理を~</span>
  </div>
  <div class="menu-bar-right">
    <div id="menu" class="desktop-menu">

      <% if @completed_menus_date %>
        <%= link_to "献立を選ぶ", root_path, class: "menu-link" %>
      <% end %>

      <% if @has_menu_items %>
        <%= link_to "買い物リスト", shopping_lists_path, class: "menu-link" %>
      <% end %>

      <% if @completed_menus_date %>
        <%= link_to "献立を作る", completed_menus_path, class: "menu-link" %>
      <% end %>

      <%= link_to "カレンダー", user_my_page_path(current_user.id), class: "menu-link" %>
      <%= link_to "ユーザー情報", edit_user_custom_registration_path(current_user.id), class: "menu-link" %>
      <%= link_to "ログアウト", destroy_user_custom_session_path, method: :get, class: "menu-link" %>
    </div>
    <div class="mobile-menu-button">
      <button class="hamburger">
        <span class="hamburger_bar"></span>
        <span class="hamburger_bar"></span>
        <span class="hamburger_bar"></span>
      </button>
    </div>
  </div>
</div>

<div class="mobile-menu-content">
  <% if @completed_menus_date %>
    <%= link_to "献立を選ぶ", root_path, class: "mobile-menu-link" %>
  <% end %>

  <% if @has_menu_items %>
    <%= link_to "買い物リスト", shopping_lists_path, class: "mobile-menu-link" %>
  <% end %>

  <% if @completed_menus_date %>
    <%= link_to "献立を作る", completed_menus_path, class: "mobile-menu-link" %>
  <% end %>

  <%= link_to "カレンダー", user_my_page_path(current_user.id), class: "mobile-menu-link" %>
  <%= link_to "ユーザー情報", edit_user_custom_registration_path(current_user.id), class: "mobile-menu-link" %>
  <%= link_to "ログアウト", destroy_user_custom_session_path, method: :get, class: "mobile-menu-link" %>
</div>

<div id="mask"></div>




