<%= render 'shared/menu' %>

<div class="completed-menu-container">

  <div class="completed-menu-heading">
    <h3>今すぐ作れる献立</h3>
  </div>

  <div class="completed-menus_list">
    <% @completed_menus.each do |item| %>
      <div class="completed-menu-item">
        <div class="ribbon"><%= item.menu_count %>人前 準備OK</div>
        <%= image_tag(rails_blob_path(item.menu.image.variant(resize_to_fill: [220, 150])), class: "rounded-image") %>

        <div class="completed-menu-item-title"><%= truncate(item.menu.menu_name, length: 10, omission: '..') %></div>

        <div class="cooking-button">
          <%= link_to '作る', completed_menu_path(item, menu_id: item.menu_id, serving_size: item.menu_count, max_count: item.menu_count), class: 'select-button' %>
        </div>
      </div>
    <% end %>
  </div>

</div>