
<div class="completed-show-container">

  <div class="menu-detail-container">
    <%= render partial: 'shared/menu_details', locals: { menu: @menu } %>

    <div class="ingredient-show-container">
      <div class="show-contents-title">
        <p>食材リスト</p>
      </div>

      <%= turbo_frame_tag 'ingredients_list' do %>
        <div class="show-contents-container">
          <div class="serving-adjust-button">
            <%= button_to '◀', decrease_completed_menu_path(@menu, serving_size: @serving_size, max_count: @max_serving_size), method: :post, class: 'serving-adjust-button', data: { turbo_frame: 'ingredients_list' } %>
          </div>

          <div class="serving-size-display">
            <p><%= @serving_size.presence || 1 %>人前</p>
          </div>

          <div class="serving-adjust-button">
            <%= button_to '▶︎', increase_completed_menu_path(@menu, serving_size: @serving_size, max_count: @max_serving_size), method: :post, class: 'serving-adjust-button', data: { turbo_frame: 'ingredients_list' } %>
          </div>
        </div>

        <div class="ingredients-show-list">
          <% if @scaled_ingredients.present? %>
            <% @scaled_ingredients.each do |ingredient_date| %>
              <div class="ingredient-show-item">
                <p class="material-name"><%= ingredient_date.material.material_name %></p>
                <div class="quantity-unit">
                  <p class="quantity"><%= display_quantity(ingredient_date.quantity) %></p>
                  <p class="unit"><%= ingredient_date.unit.unit_name %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="no-ingredients">食材はありません</p>
          <% end %>
        </div>

        <div class="button-container">
          <%= button_to "#{@serving_size}人前を調理完了", "#", method: :get, class: 'complete-cooking-button', id: 'complete-cooking-button', data: { turbo: false }, "data-url": root_path %>
        </div>

        <%= javascript_include_tag 'confirm_complete_menu' %>
      <% end %>
    </div>

    <div class="button-container">
      <%= button_to '戻る', completed_menus_path, method: :get, class: 'back-button' %>
    </div>
  </div>
</div>