
<div class="completed-show-container">

  <div class="menu-detail-container">
    <%= render partial: 'shared/menu_details', locals: { menu: @menu } %>

    <div class="ingredient-show-container">
      <div class="show-contents-title">
        <p>食材リスト</p>
      </div>

      <%= turbo_frame_tag 'ingredients_list' do %>

        <%= render 'shared/ingredients_list', scaled_ingredients: @scaled_ingredients, change_serving_size_path: ->(change_type) { change_serving_size_completed_menu_path(menu_id: @menu.id, serving_size: @serving_size, max_count: @max_serving_size, is_pre_selection: @is_pre_selection, change_type: change_type) } %>

        <div class="button-container">
          <%= button_to "#{@serving_size}人前を調理完了", "#", class: 'complete-cooking-button', id: 'complete-cooking-button', data: { turbo: false }, "data-url": mark_as_completed_menu_path(menu_id: @menu.id, serving_size: @serving_size) %>
        </div>

        <%= javascript_include_tag 'confirm_complete_menu' %>
      <% end %>
    </div>

    <div class="button-container">
      <%= button_to '戻る', completed_menus_path, method: :get, class: 'back-button' %>
    </div>
  </div>
</div>