<div class="shopping-list-container", id: 'shopping-list-container'>

  <div class="list-title">
    <h3>買い物リスト</h3>
  </div>

  <div class="cooking-menu-list">
    <div class="list-contents-title">
      <p>作る予定のレシピ</p>
    </div>

    <div class="shopping-menu-list">
      <% @menus.each do |menu_date| %>
        <%= render 'shared/menu_item_display', menu_item_counts: @menu_item_counts, menu_date: menu_date  %>
      <% end %>
    </div>
  </div>

  <div class="shopping-ingredient-list">
    <div class="list-contents-title">
      <p>必要食材</p>
    </div>

    <div class="ingredient-list">
      <% if @shopping_lists.empty? %>
        <p>必要な食材はありません。</p>
      <% else %>
        <% @shopping_lists.each do |category_id, ingredients| %>
          <div class="category-list">
            <% category = @categories.find { |c| c.id == category_id } %>
            <p><%= category.category_name %></p>
          </div>
          <ul>
            <% ingredients.each do |ingredient| %>
              <div class="ingredient-item">
                <label class="custom-checkbox-label">
                  <%= check_box_tag "ingredients[#{ingredient.id}]", ingredient.id, ingredient.is_checked, class: "custom-checkbox" %>
                  <span class="checkmark"></span>
                </label>
                <p class="material-name"><%= ingredient.material.material_name %></p>
                <div class="quantity-unit">
                  <p class="quantity"><%= display_quantity(ingredient.quantity) %></p>
                  <p class="unit"><%= ingredient.unit.unit_name %></p>
                </div>
              </div>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>

    <div class="button-container">
      <%= button_to '戻る', '#', method: :get, class: 'back-button', id: 'back_button', onclick: "history.back(); return false;" %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'shopping_list_checkbox_handlers' %>