<div class="edit-registration-container" id="email-validation-area">

  <div class="registration-title">
    <h1>メールアドレス変更</h1>
  </div>

  <div class="registration-instructions">
    <p>登録内容は管理者および本人以外には公開されません。</p>
  </div>

  <div class="registration-input">
    <%= form_with model: current_user, url: email_update_custom_registration_path, local: true, method: :patch do |f| %>
      <%= f.hidden_field :email_change, value: true %>

      <div class="registration-field">
        <div class="error-message"></div>
        <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>

      <div class="registration-actions">
        <%= f.submit "確認メールを送信", id: "update-user-submit" %>
      </div>

    <% end %>
    <div class="registration-back-button">
    <%= button_to "戻る", user_info_path(current_user), class: "back-button", method: :get %>
    </div>
  </div>
</div>