<div class="edit-registration-container">

  <div class="registration-title">
    <h1>パスワード変更</h1>
  </div>

  <div class="registration-instructions">
    <p>パスワード変更後、新しいパスワードで再ログインが必要です。</p>
  </div>

  <div class="registration-input">
    <%= form_with model: current_user, url: update_user_custom_registration_path, local: true, method: :patch do |f| %>

      <div class="registration-field">
        <%= f.text_field :current_password, name: 'user[current_password]', autocomplete: "current_password", placeholder: "現在のパスワードを入力" %>
      </div>

      <div class="registration-field">
        <%= f.password_field :password, name: 'user[password]', autocomplete: "password", placeholder: "新しいパスワードを入力" %>
      </div>

      <div class="registration-field">
        <%= f.password_field :password_confirmation, name: 'user[password_confirmation]', autocomplete: "password_confirmation", placeholder: "もう一度新しいパスワードを入力" %>
      </div>

      <div class="registration-link">
        <%= link_to "ユーザー情報更新画面へ戻る", edit_user_custom_registration_path, class: "user-edit-link" %>
      </div>

      <div class="registration-actions">
        <%= f.submit "更新" %>
      </div>
    <% end %>
    <div class="registration-back-button">
      <%= button_to "戻る", root_path, class: "back-button", method: :get %>
    </div>
  </div>
</div>