<div class="edit-registration-container" id="password-validation-area">

  <div class="registration-title">
    <h1>パスワード変更</h1>
  </div>

  <div class="registration-instructions">
    <p>更新後、新しいパスワードで再ログインが必要です。<br>
    ※パスワード: 8文字以上、大小英字、数字、記号を含む</p>
  </div>

  <div class="registration-input">
    <%= form_with model: current_user, url: password_info_update_custom_registration_path, local: true, method: :patch do |f| %>
      <%= f.hidden_field :password_change, value: true %>

      <div class="registration-field">
        <div class="error-message"></div>
        <%= f.text_field :current_password, name: 'user[current_password]', autocomplete: "off", placeholder: "現在のパスワードを入力" %>
      </div>

      <div class="registration-field">
        <div class="error-message"></div>
        <%= f.password_field :password, name: 'user[password]', autocomplete: "off", placeholder: "新しいパスワードを入力" %>
      </div>

      <div class="registration-field">
        <div class="error-message"></div>
        <%= f.password_field :password_confirmation, name: 'user[password_confirmation]', autocomplete: "off", placeholder: "もう一度新しいパスワードを入力" %>
      </div>

      <div class="registration-link">
        <%= link_to "ユーザー情報更新画面へ戻る", edit_email_custom_registration_path, class: "user-edit-link" %>
      </div>

      <div class="registration-link">
        <%= link_to 'パスワードを忘れた方はこちら', request_reset_password_path %>
      </div>

      <div class="registration-actions">
        <%= f.submit "更新", id: "update-password-submit" %>
      </div>
    <% end %>
    <div class="registration-back-button">
      <%= button_to "戻る", root_path, class: "back-button", method: :get %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'password_validation' %>