<div class="edit-registration-container">

  <div class="registration-title">
    <h1>ユーザー情報更新</h1>
  </div>

  <div class="registration-instructions">
    <p>登録内容は管理者および本人以外には公開されません。</p>
  </div>

  <div class="registration-input">
    <%= form_with model: current_user, url: update_user_custom_registration_path, local: true, method: :patch do |f| %>
      <div class="registration-field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名" %>
      </div>

      <div class="registration-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>

      <div class="registration-link">
        <%= link_to "パスワードを変更する", edit_password_user_custom_registration_path, class: "password-change-link" %>
      </div>

      <div class="registration-actions">
        <%= f.submit "更新" %>
      </div>
    <% end %>
    <div class="registration-back-button">
      <%= button_to "戻る", root_path, class: "back-button", method: :get %>
    </div>
  </div>
</div>