<div class="new-registration-container">

  <% if flash[:sign_up_notice] %>
    <div class="flash notice">
      <%= flash[:sign_up_notice] %>
    </div>
  <% end %>

  <div class="registration-title">
    <h1>Sign up</h1>
  </div>

  <div class="registration-instructions">
    <p>※未入力があるとSigin upができません。</p>
  </div>

  <div class="registration-input">
    <%= form_with url: user_custom_registration_path, local: true do |f| %>
      <div class="registration-field">
        <%= f.text_field :name, name: 'user[name]', autofocus: true, autocomplete: "name", placeholder: "ニックネーム" %>
      </div>

      <div class="registration-field">
        <%= f.email_field :email, name: 'user[email]', autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>

      <div class="registration-field">
        <%= f.password_field :password, name: 'user[password]', autocomplete: "password", placeholder: "パスワード" %>
      </div>

      <div class="registration-field">
        <%= f.password_field :password_confirmation, name: 'user[password_confirmation]', autocomplete: "password_confirmation", placeholder: "再度パスワード入力" %>
      </div>

      <div class="registration-actions">
        <%= f.submit "Sigin up" %>
      </div>

      <div class="registration-link">
        <%= link_to 'すでに登録された方はこちら', new_user_custom_session_path %>
      </div>
    <% end %>
  </div>
</div>