<div class="new-registration-container" id="new-account-validation">

  <div class="registration-title">
    <h1>ユーザー新規登録</h1>
  </div>

  <div class="registration-instructions">
    <p>※未入力があると登録ができません。</p>
  </div>

  <div class="registration-input">
    <%= form_with url: user_custom_registration_path, local: true do |f| %>
      <%= f.hidden_field :new_record, value: true %>

      <div class="registration-field">
        <div class="error-message"></div>
        <%= f.text_field :name, autofocus: false, name: 'user[name]', autocomplete: "name", placeholder: "ユーザー名:2〜15文字、英数字" %>
      </div>

      <div class="registration-field">
        <div class="error-message"></div>
        <%= f.email_field :email, autofocus: false, name: 'user[email]', autocomplete: "email", placeholder: "メールアドレス" %>
      </div>

      <div class="registration-field">
        <div class="error-message"></div>
        <%= f.password_field :password, autofocus: false, name: 'user[password]', autocomplete: "password", placeholder: "パスワード:8~128文字、英数記号含む" %>
      </div>

      <div class="registration-field">
        <div class="error-message"></div>
        <%= f.password_field :password_confirmation, autofocus: false, name: 'user[password_confirmation]', autocomplete: "password_confirmation", placeholder: "確認用パスワード" %>
      </div>

      <div class="registration-actions">
        <%= f.submit "登録" %>
      </div>

      <div class="registration-link">
        <%= link_to 'すでに登録された方はこちら', new_user_custom_session_path %>
      </div>
    <% end %>
  </div>
</div>