<div class="password-update-container" id="password-validation-area">

  <div class="password-update-title">
    <h1>パスワードリセット</h1>
  </div>

  <div class="password-update-instructions">
    <p>更新後、新しいパスワードで再ログインが必要です。<br>
    ※パスワード: パスワードの変更は8~128文字、英数字を含んでください。</p>
  </div>

  <div class="password-update-input">
    <%= form_with url: update_password_path, local: true, method: :patch do |f| %>
      <%= f.hidden_field :password_change, value: true, name: 'user[password_change]' %>
      <%= f.hidden_field :reset_password_token, value: params[:reset_password_token] %>

      <div class="password-update-field">
        <div class="error-message"></div>
        <%= f.password_field :password, autofocus: false, name: 'user[password]', autocomplete: "off", placeholder: "新しいパスワードを入力" %>
      </div>

      <div class="password-update-field">
        <div class="error-message"></div>
        <%= f.password_field :password_confirmation, autofocus: false, name: 'user[password_confirmation]', autocomplete: "off", placeholder: "もう一度新しいパスワードを入力" %>
      </div>

      <div class="password-update-actions">
        <%= f.submit "更新", id: "update-password-submit" %>
      </div>
    <% end %>
  </div>
</div>