<div class="reset-password-container">
  <div class="reset-password-title">
    <h1>パスワード再設定</h1>
  </div>

  <div class="reset-password-instructions">
    <p>入力していただいたメールアドレス宛に、<br>
    再設定のご案内メールが届きます。</p>
  </div>

  <div class="reset-password-input">
    <%= form_with url: send_reset_instructions_path, local: true, method: :post do |f| %>
      <div class="reset-password-field">
        <div class="error-message"></div>
        <%= f.email_field :email, name: 'user[email]', autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>

      <div class="reset-password-actions">
        <%= f.submit "メール送信", id: "send-reset-instructions-submit" %>
      </div>
    <% end %>

    <div class="reset-password-back-button">
      <%= button_to '戻る', '#', method: :get, class: 'back-button', id: 'back_button', onclick: "history.back(); return false;" %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'email_validation' %>
